classifiers/madry_challenge/mnist_challenge/
classifiers/madry_challenge/cifar10_challenge/

*.swp
tags
notes.md
data/
__pycache__/
BMD_text/saved_models/*
*.pt
settings.json
temp/
demo.text
.data/
*.pickle
experiments/
pretrained_classifiers/
madry_challenge_models

BMD_text/.vector_cache/*
BMD_text/results/*
./BMD_graph/a=__pycache__/
./BMD_text/saved_models/cnn_.pt
./BMD_text/saved_models/lstm_.pt
./BMD_text/saved_models/lstm.pt
./BMD_text/saved_models/bilstm.pt
./BMD_text/saved_models/bilstm_.pt
./BMD_text/.vector_cache/glove.6B.300d.txt
./BMD_text/temp/imdb.data
./BMD_text/temp/imdb.vec
